.header{
    width:100%;
    height:15%;
    background-color: black;
    color:azure;
    font-size:30px;
}
.nav{
    word-spacing:50px;
    text-align: center;
    font-size:36px;
    background-color:dimgrey;
    width:100%;
    height:5%;
}
.article{
    position:absolute;
    width:100%;
    height:70%;
    font-size:26px;
    background-image:url("panorama.jpg");
    text-align: center;
}
a{color:aliceblue;
text-decoration: none;}
body{
    margin:0%;
}
.footer{
    height:10%;
    width:100%;
    background-color: black;
    position: absolute;
    bottom:0%;
    color:white;
    font-size:30px;
}
h1{
    text-decoration: underline;
}
a:hover{
    color:red;
    text-decoration: underline;
    font-size:36px;
    font-weight: bolder;
}
p{
    font-size:26px;
    font-weight:bolder;
}